<template>

<div style="margin-top:30px">
    <el-form :rules="rules" :model="order" ref="orderForm" label-width="150px">
        <el-row :gutter="20">
            <el-col :span="10" :offset="7">
                <el-form-item label="Tracking" prop="tracking">
                    <el-input placeholder="Tracking Number" v-model="order.tracking"></el-input>
                </el-form-item>
                <el-form-item label="Dispatch Date" prop="dispatch">
                    <el-date-picker placeholder="Dispatch Date" v-model="order.dispatch" type="date" value-format="yyyy-MM-dd"></el-date-picker>
                </el-form-item>
                <el-form-item label="Shipping Cost" prop="shipping">
                    <el-input placeholder="Shipping Cost" v-model="order.shipping"></el-input>
                </el-form-item>
                <el-form-item label="Paid" prop="paid">
                    <el-input placeholder="Amount Paid (RMB)" v-model="order.paid"></el-input>
                </el-form-item>
                <el-form-item label="Courier" prop="courier">
                    <el-select placeholder="Courier" v-model="order.courier" filterable >
                        <el-option v-for="courier in couriers" :key="courier.id" :label="courier.name" :value="courier.id"></el-option>
                    </el-select>
                </el-form-item>
                <hr />
                <el-form-item label="Customer Name" prop="name">
                    <el-input placeholder="Customer Name" v-model="order.name" @blur="getCustomer"></el-input>
                </el-form-item>
                <el-form-item label="Identity" prop="identity">
                    <el-input placeholder="身份证 Identity" v-model="order.identity"></el-input>
                </el-form-item>
                <el-form-item label="Phone" prop="phone">
                    <el-input placeholder="Phone Number" v-model="order.phone"></el-input>
                </el-form-item>
                <el-form-item label="Delivery Address" prop="address">
                    <el-input placeholder="Delivery Address" v-model="order.address"></el-input>
                </el-form-item>
            </el-col>
        </el-row>
    </el-form>
    <hr />
    <el-form ref="orderItemForm" id="orderItemForm">
        <el-form-item>
            <el-table :data="order.items">
                <el-table-column label="Barcode">
                    <template slot-scope="scope">
                        <el-input v-model="scope.row.barcode" @blur="getProduct(scope.$index)"></el-input>
                    </template>
                </el-table-column>
                <el-table-column label="Brand" prop="brand"></el-table-column>
                <el-table-column label="Name" prop="name"></el-table-column>
                <el-table-column label="Quantity" width="110">
                    <template slot-scope="scope">
                        <el-input v-model="scope.row.quantity" @blur="compareQty(scope.$index)" required></el-input>
                    </template>
                </el-table-column>
                <el-table-column label="Unit Price" width="110">
                    <template slot-scope="scope">
                        <el-input v-model="scope.row.price"></el-input>
                    </template>
                </el-table-column>
                <el-table-column label="Postage" width="110">
                    <template slot-scope="scope">
                        <el-input v-model="scope.row.postage"></el-input>
                    </template>
                </el-table-column>
                <el-table-column width="55">
                    <template slot-scope="scope">
                        <el-button @click="delItem(scope.$index)" type="danger" size="mini">
                            <i class="el-icon-delete"></i>
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
        </el-form-item>
        <el-form-item>
            <el-button @click="newItem" type="success" size="medium">New Item</el-button>
            <el-button @click="submitOrder" :loading="loading" type="primary" size="large">Create</el-button>
        </el-form-item>
    </el-form>
</div>

</template>
<script>

export default {
    data () {
        return {
            order: {
                tracking: '',
                dispatch: '',
                shipping: '',
                paid: '0',
                courier: '',
                name: '',
                identity: '',
                phone: '',
                address: '',
                items: [],
            },
            couriers: [],
            loading: false,
            rules: {
                tracking: [
                    { required: true, message: 'Please enter tracking', trigger: 'blur' },
                ],
                dispatch: [
                    { required: true, message: 'customer name cannot be empty', trigger: 'blur' }
                ],
                shipping: [
                    { required: true, message: 'shipping cost cannot be empty', trigger: 'blur' }
                ],
                courier: [
                    { required: true, message: 'courier cannot be empty', trigger: 'blur' }
                ],
                name: [
                    { required: true, message: 'customer name cannot be empty', trigger: 'blur' }
                ],
                address: [
                    { required: true, message: 'Please enter delivery address', trigger: 'blur' },
                ]

            }
        }
    },

    created () {
        this.newItem()
        this.fetchCouriers()
    },

    methods: {
        async getCustomer () {
            if (this.order.name == '') {
                return;
            }
            try {
                const { data } = await axios.get('/api/customer/' + this.order.name)
                this.order.address  = data.data.address
                this.order.identity = data.data.identity
                this.order.phone    = data.data.phone
            } catch (e) {
                console.log(e)
            }
        },

        async getProduct (index) {
            if (this.order.items[index].barcode == '') {
                return;
            }
            try {
                const { data } = await axios.get('/api/product/' + this.order.items[index].barcode)
                this.order.items[index].brand  = data.data.brand.name
                this.order.items[index].name = data.data.name
                this.order.items[index].stock = data.data.stock
            } catch (e) {
                console.log(e)
                this.$alert("Cannot get product")
            }
        },

        async fetchCouriers () {
            const { data } = await axios.get('/api/courier')
            this.couriers = data.data
        },

        compareQty (index) {
            if (this.order.items[index].quantity == '') {
                return;
            }
            if (parseInt(this.order.items[index].quantity) > this.order.items[index].stock) {
                this.$alert("Insufficient quantity")
                this.order.items[index].quantity = this.order.items[index].stock
            }
        },

        newItem () {
            this.order.items.push({
                barcode: '',
                brand: '',
                name: '',
                quantity: '',
                price: '0.00',
                postage: '0.00'
            })

            this.$nextTick(() => window.scrollTo(0,document.querySelector("#orderItemForm").scrollHeight))

        },
        delItem (index) {
            this.order.items.splice(index, 1)
        },

        async submitOrder () {
            this.loading = true
            try {

                await this.$refs['orderForm'].validate()

                // validate the items
                for ( let item of this.order.items) {
                    if (item.barcode == '' || item.quantity == '') {
                        throw new Error('Item can NOT be empty')
                    }
                }

                const { data } = await axios.post('/api/order', this.order)

                this.$router.push({ name: 'order.show', params: { id: data.orderID }})
            } catch (e) {
                //console.log(e)
                this.$alert(e.message)
            }
            this.loading = false
        }
    }
}
</script>