<template>
<div>
    <el-row :gutter="20">
        <el-col :span="3">
            <router-link :to="{ name: 'order.create' }" >
                <el-button type="primary">New Order</el-button>
            </router-link>
        </el-col>
        <div v-if="sum.cost>0">
            <el-col :span="5">
                <el-input v-model="sum.cost" >
                    <template slot="prepend">Cost $</template>
                </el-input>
            </el-col>
            <el-col :span="5">
                <el-input v-model="sum.shipping" >
                    <template slot="prepend">Shipping $</template>
                </el-input>
            </el-col>
            <el-col :span="5">
                <el-input v-model="total" >
                    <template slot="prepend">Total $</template>
                </el-input>
            </el-col>
        </div>
        <el-col :offset="searchOffset" :span="6">
            <el-form>
                <el-form-item>
                    <el-input placeholder="Search" v-model="search">
                        <template slot="prepend"><i class="el-icon-search" /></template>
                    </el-input>
                </el-form-item>
            </el-form>
        </el-col>
    </el-row>
    <el-row>
        <el-table :data="orders" border :row-class-name="tableRowClassName" @selection-change="handleSelectOrders">
            <el-table-column type="selection" width="55"></el-table-column>
            <el-table-column prop="tracking" label="Tracking" sortable width="150">
                <template slot-scope="scope">
                    <!--router-link :to="{name: 'order.show', params: {id: scope.row.id }}">{{scope.row.tracking}}</router-link-->
                    <a @click="openOrderDetail(scope.row.id)">{{ scope.row.tracking }}</a>
                </template>
            </el-table-column>
            <el-table-column prop="customer.name" label="Name" sortable width="90"></el-table-column>
            <el-table-column prop="cost" label="Cost" sortable width="90"></el-table-column>
            <el-table-column prop="shipping" label="Shipping" sortable width="110"></el-table-column>
            <el-table-column prop="dispatch" label="Dispatch" sortable width="110"></el-table-column>
            <el-table-column label="Delivered" width="90">
                <template slot-scope="scope">
                    <el-checkbox v-model="scope.row.received" @change="changeDelivery(scope.row)"></el-checkbox>
                </template>
            </el-table-column>
            <el-table-column prop="last_shipping_log.event" label="Latest Event" show-overflow-tooltip></el-table-column>
            <el-table-column label="Track" width="100">
                <template slot-scope="scope">
                    <a :href="scope.row.courier.url + scope.row.tracking" target="_blank">Click Me</a>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination layout="total, sizes, prev, pager, next" ref="pagination"
                       :total="meta.total" :page-size="meta.per_page" :page-sizes="[30, 100, 200]"
                       @current-change="fetchOrders" @size-change="changePageSize">
        </el-pagination>
    </el-row>
    <el-dialog :visible.sync="orderDetailVisible" width="80%" >
        <order-detail :order-id="orderId"></order-detail>
    </el-dialog>
</div>
</template>
<script>
import orderDetail from './order-detail.vue'

export default {
    components: {
        orderDetail
    },
    data () {
        return {
            search: '',
            orders: [],
            sum: {
                cost: 0.0,
                shipping: 0.0,
            },
            meta: { per_page: 30 },
            orderDetailVisible: false,
            orderId: '',
        }
    },
    computed: {
        total () {
            let sum = parseFloat(this.sum.cost) + parseFloat(this.sum.shipping)
            return sum.toFixed(2)
        },
        searchOffset () {
            return parseFloat(this.sum.cost) > 0 ? 0 : 15
        }
    },

    watch: {
        meta: function (val) {
            this.meta.per_page = parseInt(val.per_page)
            this.$router.push({query: {page: this.meta.current_page, size: this.meta.per_page}})
        }

    },

    created () {
        if (!$.isEmptyObject(this.$route.query)) {
            this.meta.current_page = parseInt(this.$route.query.page)
            this.meta.per_page = parseInt(this.$route.query.size)
        } else {
            this.meta.current_page = 1
        }
        this.fetchOrders(this.meta.current_page)
    },
    methods: {

        async fetchOrders (page = 1) {

            const { data } = await axios.get('/api/order?page=' + page + '&size=' + this.meta.per_page)
            this.orders = data.data
            this.meta = data.meta
        },

        async changeDelivery (order) {
            const data = {
                received: order.received
            }
            await axios.put('/api/order/' + order.id, data)
        },

        tableRowClassName({row, rowIndex}) {
            if (row.received) {
                return 'delivered'
            }
        },

        handleSelectOrders (val) {
            let cost = 0.0
            let shipping = 0.0
            val.forEach( row => {
                cost +=  parseFloat(row.cost)
                shipping += parseFloat(row.shipping)
            })
            this.sum.cost = cost.toFixed(2)
            this.sum.shipping  = shipping.toFixed(2)
        },

        openOrderDetail (id) {
            this.orderId = id
            this.orderDetailVisible = true
        },

        changePageSize (val) {
            this.meta.per_page = val
            this.fetchOrders(this.$refs['pagination'].currentPage)
        }
    }
}
</script>
<style>
.delivered {background-color: #ccc !important;}
</style>