<template>
<el-row :gutter="20">
    <el-col :span="20" :offset="2">
        <el-card>
            <div slot="header">
                <span>Order # {{ order.id }} <b>{{ order.customer.name }}</b></span>
                <span style="float: right ">
                    <router-link :to="{ name: 'order.create' }" >
                        <el-button type="primary">New Order</el-button>
                    </router-link>
                </span>
            </div>
            <el-row>
                <el-table :data="order.shipping_logs" stripe border>
                    <el-table-column prop="time" label="日期" width="160"></el-table-column>
                    <el-table-column prop="location" label="地点" min-width="180"></el-table-column>
                    <el-table-column prop="event" label="事件" min-width="200"></el-table-column>
                </el-table><br />
                <el-table :data="order.order_items" stripe border>
                    <el-table-column prop="product.barcode" label="Barcode"></el-table-column>
                    <el-table-column prop="product.brand.name" label="Brand" width="150"></el-table-column>
                    <el-table-column prop="product.name" label="Name"></el-table-column>
                    <el-table-column prop="quantity" label="Quantity" width="90"></el-table-column>
                    <el-table-column prop="cost" label="Cost" width="80"></el-table-column>
                    <el-table-column prop="postage" label="Postage" width="80"></el-table-column>
                </el-table>
            </el-row>
            <hr />
            <el-row :gutter="20">

                <el-col :span="7">
                    <el-form label-width="130px" style="float:right">
                        <el-form-item label="Tracking">
                            <span>{{ order.tracking }}</span>
                        </el-form-item>
                        <el-form-item label="Shipping Cost">
                            <span>{{ order.shipping }}</span>
                        </el-form-item>
                        <el-form-item label="Total Cost">
                            <span>{{ order.cost }}</span>
                        </el-form-item>
                        <el-form-item label="Amount Paid">
                            <span>{{ order.paid }}</span>
                        </el-form-item>
                        <el-form-item label="Profit">
                            <span>{{ order.profit }}</span>
                        </el-form-item>
                        <el-form-item label="Dispatch Date">
                            <span>{{ order.dispatch }}</span>
                        </el-form-item>
                        <el-form-item label="Delivered">
                            <el-checkbox v-model="order.received" @change="changeDelivery"></el-checkbox>
                        </el-form-item>

                    </el-form>
                </el-col>
                <el-col :span="17">
                    <el-form label-width="130px" style="margin-left: 100px">
                        <el-form-item label="Customer Name">
                            <span>{{ order.customer.name }}</span>
                        </el-form-item>
                        <el-form-item label="Phone">
                            <span>{{ order.customer.phone }}</span>
                        </el-form-item>
                        <el-form-item label="Identity">
                            <span>{{ order.customer.identity }}</span>
                        </el-form-item>
                        <el-form-item label="Address">
                            <span>{{ order.customer.address }}</span>
                        </el-form-item>
                        <el-form-item label="Memo">
                            <div v-if="!edit" @click="switchEditor">{{ order.memo||'empty' }}</div>
                            <div v-else>
                                <el-input type="textarea" :rows="2" placeholder="请输入内容" v-model="order.memo"></el-input>
                                <el-button type="primary" round @click="saveMemo" icon="el-icon-check" size="small"></el-button>
                                <el-button  round @click="switchEditor" icon="el-icon-close" size="mini"></el-button>
                            </div>
                        </el-form-item>
                        <el-form-item label="Courier">
                            <span>{{ order.courier.name }}</span>
                        </el-form-item>
                        <el-form-item label="Track">
                            <a :href="order.courier.url + order.tracking" target="_blank">Click Me</a>
                        </el-form-item>
                    </el-form>
                </el-col>
            </el-row>

        </el-card>
    </el-col>
</el-row>

</template>
<script>
export default {
    data () {
        return {
            order: { courier: '', customer:'', shipping_logs:[], order_items:[]},
            edit: false,
        }
    },

    props: ['orderId'],

    created () {
        this.fetchOrder()
    },

    watch: {
        orderId: function (val) {
            this.fetchOrder()
        }
    },

    methods: {
        async fetchOrder () {
            let url = '/api'
            if (this.orderId) {
                url = url + '/order/' + this.orderId
            } else {
                url = url + this.$route.path
            }

            try {
                const { data } = await axios.get(url)
                this.order = data.data

            } catch (e) {
                console.log(e)
                this.$alert("Cannot get order")
            }
        },

        switchEditor () {
            this.edit = !this.edit
        },

        async saveMemo () {
            try {
                const data = {
                    memo: this.order.memo
                }
                await axios.put('/api/order/' + this.order.id, data)

                this.edit = !this.edit
            } catch (e) {
                console.log(e)
                this.$alert("Cannot update order")
            }
        },

        async changeDelivery () {
            const data = {
                received: this.order.received
            }
            await axios.put('/api/order/' + this.order.id, data)
        },
    }
}
</script>
<style>
form {

}
</style>