<template>

    <el-menu :default-active="activeIndex" mode="horizontal" v-if="authenticated">
        <el-menu-item index="1">
            <router-link :to="{ name: 'order' }">
                Order
            </router-link>
        </el-menu-item>
        <el-menu-item index="2">
            <router-link :to="{ name: 'product' }">
                Product
            </router-link>
        </el-menu-item>
        <el-menu-item index="3">
            <router-link :to="{ name: 'other.customer' }">
                Others
            </router-link>
        </el-menu-item>

        <el-menu-item index="99" class="el-menu-1">
            <a href="/logout" class="dropdown-item pl-3" @click.prevent="logout">Logout</a>
        </el-menu-item>
    </el-menu>
    <!--<el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" v-else>
        <el-menu-item index="1">Login</el-menu-item>
    </el-menu>-->

</template>
<script>
import { mapGetters } from 'vuex'
export default {
    data() {
        return {

        };
    },
    computed: {
        activeIndex () {
            if (this.$route.path.includes('order')) {
                return '1'
            } else if (this.$route.path.includes('other')) {
                return '3'
            } else {
                return '2'
            }
        },

        ...mapGetters({
            authenticated: 'auth/check'
        })
    },
    methods: {
        async logout () {
            await this.$store.dispatch('auth/logout')

            // Redirect to login.
            this.$router.push({ name: 'login' })
        }
    }
}
</script>
<style>
    .el-menu-1 {
        float: right !important;
    }
</style>