<template>
<div>
    <el-table border :row-class-name="tableRowClassName" :data="imports">
        <el-table-column prop="import_id" label="Batch ID" sortable width="110px">
            <template slot-scope="scope">
                <router-link :to="{name: 'import.detail', params: {id: scope.row.import_id }}">{{scope.row.import_id}}</router-link>
            </template>
        </el-table-column>
        <el-table-column prop="product.barcode" label="Barcode" sortable width="180px"></el-table-column>
        <el-table-column prop="product.brand.name" label="Brand" sortable width="150px"></el-table-column>
        <el-table-column prop="product.name" label="Name" show-overflow-tooltip></el-table-column>
        <el-table-column prop="price" label="Price" sortable width="90px"></el-table-column>
        <el-table-column prop="quantity" label="Quantity" width="90px"></el-table-column>
        <el-table-column prop="left" label="Available" sortable width="110px"></el-table-column>
    </el-table>
    <el-pagination layout="total, sizes, prev, pager, next" ref="pagination"
                   :total="meta.total" :page-size="meta.per_page" :page-sizes="[80, 100, 200]"
                   @current-change="fetchImports" @size-change="changePageSize">
    </el-pagination>
</div>
</template>
<script>
export default {
    data () {
        return {
            imports: [],
            meta: { per_page: 80 },
        }
    },

    created () {
        if (!$.isEmptyObject(this.$route.query)) {
            this.meta.current_page = parseInt(this.$route.query.page)
            this.meta.per_page = parseInt(this.$route.query.size)
        } else {
            this.meta.current_page = 1
        }
        this.fetchImports(this.meta.current_page)
    },

    watch: {
        meta: function (val) {
            this.meta.per_page = parseInt(val.per_page)
            this.$router.push({query: {page: this.meta.current_page, size: this.meta.per_page}})
        }

    },

    methods: {
        async fetchImports ( page  ) {
            const { data } = await axios.get('/api/import?page=' + page + '&size=' + this.meta.per_page)
            this.imports = data.data
            this.meta = data.meta
        },

        tableRowClassName({row, rowIndex}) {
            if (row.left == 0) {
                return 'sold'
            }
        },

        changePageSize (val) {
            this.meta.per_page = val
            this.fetchImports(this.$refs['pagination'].currentPage)
        }
    }
}
</script>
<style>
    .sold {background-color: #ccc !important;}
</style>