<template>
<div>
    <div slot="header">
        <span>Import Detail # {{ importDetail.id }}</span>
    </div>
    <hr />
    <div>
        <el-form label-width="130px">
            <el-form-item label="Retailer">
                <span>{{ importDetail.retailer.name }}</span>
            </el-form-item>
            <el-form-item label="Purchased Date">
                <span>{{ importDetail.purchase_date }}</span>
            </el-form-item>
        </el-form>
        <el-table stripe border :data="importDetail.import_items">
            <el-table-column prop="product.barcode" label="Barcode"></el-table-column>
            <el-table-column prop="product.brand.name" label="Brand"></el-table-column>
            <el-table-column prop="product.name" label="Name"></el-table-column>
            <el-table-column prop="product.size" label="Size" width="110"></el-table-column>
            <el-table-column prop="price" label="Price" width="60"></el-table-column>
            <el-table-column prop="quantity" label="Quantity" width="80"></el-table-column>
            <el-table-column prop="left" label="Available" width="85"></el-table-column>
        </el-table>
    </div>
</div>
</template>
<script>
export default {
    data () {
        return {
            importDetail: {id: '',retailer: {}, import_items: []},
        }
    },

    created () {
        this.fetchImport()
    },

    methods: {
        async fetchImport () {
            try {
                const { data } = await axios.get('/api' + this.$route.path)
                this.importDetail = data.data

            } catch (e) {
                console.log(e)
                this.$alert("Cannot get import")
            }
        },
    }
}
</script>