<template>
<div>
    <div slot="header">
        <span>Create Shopping List</span>
    </div>
    <hr />
    <div>
        <el-form label-width="170px" :model="shopping" :rules="rules" ref="shoppingForm">
            <el-form-item label="Retailer" prop="retailer">
                <el-select v-model="shopping.retailer" filterable default-first-option placeholder="Choose Retailer">
                    <el-option v-for="retailer in retailers"
                               :key="retailer.id" :label="retailer.name" :value="retailer.id">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="Purchased Date" prop="purchased_date">
                <el-date-picker placeholder="Purchased Date" v-model="shopping.purchased_date"
                                type="date" value-format="yyyy-MM-dd">
                </el-date-picker>
            </el-form-item>
            <el-table :data="shopping.items">
                <el-table-column label="Barcode" width="180">
                    <template slot-scope="scope">
                        <el-input v-model="scope.row.barcode"
                                  @blur="getProduct(scope.$index)" placeholder="Product Barcode"></el-input>
                    </template>
                </el-table-column>
                <el-table-column label="Brand" min-width="110">
                    <template slot-scope="scope">
                        <el-select v-model="scope.row.brand"
                                   filterable default-first-option allow-create placeholder="Brand">
                            <el-option v-for="brand in brands"
                                       :key="brand.id" :label="brand.name" :value="brand.id">
                            </el-option>
                        </el-select>
                    </template>
                </el-table-column>
                <el-table-column label="Name" min-width="180">
                    <template slot-scope="scope">
                        <el-input v-model="scope.row.name" placeholder="Product Name"></el-input>
                    </template>
                </el-table-column>
                <el-table-column label="Size" width="110">
                    <template slot-scope="scope">
                        <el-input v-model="scope.row.size" placeholder="Size"></el-input>
                    </template>
                </el-table-column>
                <el-table-column label="Price" width="115">
                    <template slot-scope="scope">
                        <el-input v-model="scope.row.price" placeholder="Unit Price"></el-input>
                    </template>
                </el-table-column>
                <el-table-column label="Quantity" width="110">
                    <template slot-scope="scope">
                        <el-input v-model="scope.row.quantity" placeholder="Quantity"></el-input>
                    </template>
                </el-table-column>
                <el-table-column width="55">
                    <template slot-scope="scope">
                        <el-button @click="delItem(scope.$index)" type="danger" size="mini">
                            <i class="el-icon-delete"></i>
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
            <div style="margin-top: 15px;">
                <el-button @click="newItem" type="success" size="medium">New Item</el-button>
                <el-button @click="submitShopping" :loading="loading" type="primary" size="large">Create</el-button>
            </div>
        </el-form>
    </div>
</div>
</template>
<script>
export default {
    data () {
        return {
            shopping: { items: [] },
            retailers: '',
            brands: '',
            loading: false,
            rules: {
                purchased_date: [
                    { required: true, message: 'Purchased date cannot be empty', trigger: 'blur' },
                ],
                retailer: [
                    { required: true, message: 'Retailer cannot be empty', trigger: 'blur' }
                ],
            },
        }
    },

    created () {
        this.newItem()
        this.fetchData()
    },

    methods: {
        async fetchData () {
            try {
                const { data: retailerData } = await axios.get('/api/retailer')
                this.retailers = retailerData.data

                const { data: brandsData } = await axios.get('/api/brand')
                this.brands = brandsData.data
            } catch (e) {
                console.log(e)
                this.$alert("Cannot get initial data")
            }
        },

        async getProduct (index) {
            if (this.shopping.items[index].barcode == '') {
                return;
            }
            try {
                const { data } = await axios.get('/api/product/' + this.shopping.items[index].barcode)
                this.shopping.items[index].brand  = data.data.brand.id
                this.shopping.items[index].name = data.data.name
                this.shopping.items[index].stock = data.data.stock
                this.shopping.items[index].size = data.data.size
            } catch (e) {
                console.log(e)
            }
        },

        newItem () {
            this.shopping.items.push({
                barcode: '',
                brand: '',
                name: '',
                size: '',
                price: '',
                quantity: ''
            })

            // scroll to bottom
            //this.$nextTick(() => window.scrollTo(0,document.querySelector("#shoppingForm").scrollHeight))

        },
        delItem (index) {
            this.shopping.items.splice(index, 1)
        },

        async submitShopping () {
            this.loading = true
            try {

                await this.$refs['shoppingForm'].validate()

                // validate the items
                for ( let item of this.shopping.items) {
                    if (item.barcode == '' || item.quantity == '') {
                        throw new Error('Item can NOT be empty')
                    }
                }

                const { data } = await axios.post('/api/import', this.shopping)

                this.$router.push({ name: 'import.detail', params: { id: data.id }})
            } catch (e) {
                //console.log(e)
                this.$alert(e.message)
            }
            this.loading = false
        }
    }
}
</script>