<template>
<div>
    <el-table border stripe :data="products">
        <el-table-column prop="barcode" label="Barcode" sortable width="200px">
            <template slot-scope="scope">
                <router-link :to="{name: 'product.detail', params: {id: scope.row.id }}">{{scope.row.barcode}}</router-link>
            </template>
        </el-table-column>
        <el-table-column prop="brand.name" label="Brand" sortable width="150px"></el-table-column>
        <el-table-column prop="name" label="Name" width=""></el-table-column>
        <el-table-column prop="size" label="Size" width="100px"></el-table-column>
        <el-table-column prop="stock" label="Stock" sortable width="90px"></el-table-column>
        <el-table-column prop="sold" label="Sold" sortable width="90px"></el-table-column>
    </el-table>
    <el-pagination layout="total, sizes, prev, pager, next" ref="pagination"
                   :total="meta.total" :current-page="meta.current_page" :page-size="meta.per_page" :page-sizes="[80, 100, 200]"
                   @current-change="fetchProducts" @size-change="changePageSize">
    </el-pagination>
</div>
</template>

<script>
export default {
    data () {
        return {
            products: [],
            meta: { per_page: 80 },
        }
    },

    created () {
        if (!$.isEmptyObject(this.$route.query)) {
                this.meta.current_page = parseInt(this.$route.query.page)
                this.meta.per_page = parseInt(this.$route.query.size)
        } else {
            this.meta.current_page = 1
        }
        this.fetchProducts(this.meta.current_page)
    },
    watch: {
        meta: function (val) {
            this.meta.per_page = parseInt(val.per_page)
            // change the url query accordingly
            this.$router.push({query: {page: this.meta.current_page, size: this.meta.per_page}})
        }

    },
    methods: {
        async fetchProducts ( page ) {

            const { data } = await axios.get('/api/product?page=' + page + '&size=' + this.meta.per_page)
            this.products = data.data
            this.meta = data.meta

        },

        changePageSize (val) {
            this.meta.per_page = val
            this.fetchProducts(this.$refs['pagination'].currentPage)
        }
    }
}
</script>