<template>
<div>
    <div slot="header">
        <span>{{ product.brand.name }} <i class="el-icon-arrow-right" /> {{ product.name }}</span>
        <span> ( {{ product.size }} ) </span>
        <span style="float: right"> Barcode: [ {{ product.barcode }} ] </span>
    </div>
    <hr />
    <el-row :gutter="20" >
        <el-col :span="5">
            <el-form label-width="60px">
                <el-form-item label="Stock">
                    <el-tag style="font-weight: bold">{{ product.stock }}</el-tag>
                </el-form-item>
            </el-form>
        </el-col>
        <el-col :span="5">
            <el-form label-width="60px">
                <el-form-item label="Sold">
                    <el-tag type="success" style="font-weight: bold">{{ product.sold }}</el-tag>
                </el-form-item>
            </el-form>
        </el-col>
    </el-row>
    <el-row>
        <el-table :data="product.items" border stripe>
            <el-table-column prop="import_id" label="Import ID">
                <template slot-scope="scope">
                    <router-link :to="{name: 'import.detail', params: {id: scope.row.import_id }}">{{scope.row.import_id}}</router-link>
                </template>
            </el-table-column>
            <el-table-column prop="import.retailer.name" label="Retailer"></el-table-column>
            <el-table-column prop="import.purchase_date" label="Date"></el-table-column>
            <el-table-column prop="price" label="Price"></el-table-column>
            <el-table-column prop="quantity" label="Quantity"></el-table-column>
            <el-table-column prop="left" label="Available"></el-table-column>
        </el-table>
    </el-row>
</div>
</template>
<script>
export default {
    data () {
        return {
            product: { brand: {} },
            meta: { per_page: 80 },
        }
    },

    created () {
        this.fetchProduct()
    },

    methods: {
        async fetchProduct () {
            try {
                const { data } = await axios.get('/api' + this.$route.path)
                const { data: itemData } = await axios.get('/api' + this.$route.path + '/items');

                this.product = data.data
                this.product.items = itemData.data

                this.meta = itemData.meta

            } catch (e) {
                console.log(e)
                this.$alert("Cannot get product")
                return
            }

            /*try {
                const { data: itemData } = await axios.get('/api' + this.$route.path + '/items')
                this.product.items = itemData.data
                this.meta = itemData.meta

            } catch (e) {
                console.log(e)
                this.$alert("Cannot get items")
            }*/
        }
    }
}
</script>