<template>
    <el-container>
        <el-aside width="130px">
            <el-menu :default-active="activeIndex">
                <el-menu-item index="1">
                    <router-link :to="{name: 'other.customer'}">Customers</router-link>
                </el-menu-item>
                <el-menu-item index="2">
                    <router-link :to="{name: 'other.brand'}">Brands</router-link>
                </el-menu-item>
                <el-menu-item index="3">
                    <router-link :to="{name: 'other.retailer'}">Retailers</router-link>
                </el-menu-item>
                <el-menu-item index="4">
                    <router-link :to="{name: 'other.courier'}">Couriers</router-link>
                </el-menu-item>
            </el-menu>
        </el-aside>
        <el-main>
            <router-view />
        </el-main>
    </el-container>
</template>
<script>
    export default {
        computed: {
            activeIndex () {
                if (this.$route.path.includes('customer')) {
                    return '1'
                } else if (this.$route.path.includes('brand')) {
                    return '2'
                } else if (this.$route.path.includes('retailer')) {
                    return '3'
                }else {
                    return '4'
                }
            },
        }
    }
</script>