<template>
    <el-container>
        <el-aside width="130px">
            <el-menu :default-active="activeIndex">
                <el-menu-item index="1">
                    <router-link :to="{name: 'product'}">Product</router-link>
                </el-menu-item>
                <el-menu-item index="2">
                    <router-link :to="{name: 'import'}">Import List</router-link>
                </el-menu-item>
                <el-menu-item index="3">
                    <router-link :to="{name: 'import.create'}">New Import</router-link>
                </el-menu-item>
            </el-menu>
        </el-aside>
        <el-main>
            <router-view />
        </el-main>
    </el-container>
</template>
<script>
export default {
    computed: {
        activeIndex () {
            if (this.$route.path.includes('product')) {
                return '1'
            } else if (this.$route.path.includes('create')) {
                return '3'
            } else {
                return '2'
            }
        },
    }
}
</script>