<template>
    <el-row :gutter="20">
        <el-col :span="8" :offset="8">
            <el-card>
                <el-form :rules="rules" :model="form" status-icon ref="loginForm">

                    <el-form-item prop="email" required>
                        <el-input  v-model="form.email" placeholder="Email" />
                    </el-form-item>

                    <el-form-item prop="password" required>
                        <el-input type="password" v-model="form.password" placeholder="Password" />
                    </el-form-item>

                    <el-form-item prop="remember" >
                        <el-switch v-model="remember" active-text="Remember me"/>
                    </el-form-item>

                    <el-form-item size="large">
                        <el-button type="primary" style="width: 100%" @click="login" native-type="submit" @click.native.prevent='submitForm'>Login</el-button>
                    </el-form-item>
                </el-form>
            </el-card>
        </el-col>
    </el-row>
</template>
<script>

export default {
    data() {
        return {
            form: {
                email: '',
                password: ''
            },
            remember: false,

            rules: {
                email: [
                    { required: true, message: 'Please enter your email', trigger: 'blur' },
                    { type: 'email', message: 'Please enter email address', trigger: 'blur' }
                ],
                password: [
                    { required: true, message: 'Please enter your password', trigger: 'blur' },
                ]
            }
        }
    },

    methods: {
        async login () {

            try {
                await this.$refs['loginForm'].validate()

                const { data } = await axios.post('/api/login', this.form)

                // Save the token.
                this.$store.dispatch('auth/saveToken', {
                    token: data.token,
                    remember: this.remember
                })
                // Fetch the user.
                await this.$store.dispatch('auth/fetchUser')
                // Redirect .
                this.$router.push({ name: 'order' })
            } catch (e) {
                console.log(e.toString())
            }
        }
    }
}
</script>