<template>
    <el-row :gutter="20">
        <el-col :span="8" :offset="8">
            <el-card>
                <el-form :rules="rules" :model="form" status-icon ref="registerForm">
                    <el-form-item label="Name" prop="name" >
                        <el-input v-model="form.name" placeholder="Name" />
                    </el-form-item>

                    <el-form-item label="Email" prop="email" >
                        <el-input v-model="form.email" placeholder="Email" />
                    </el-form-item>

                    <el-form-item label="Password" prop="password" >
                        <el-input type="password" v-model="form.password" placeholder="Password" />
                    </el-form-item>

                    <el-form-item label="Confirm password" prop="password_confirmation" >
                        <el-input type="password" v-model="form.password_confirmation" placeholder="Confirm password" />
                    </el-form-item>

                    <el-form-item size="large">
                        <el-button type="primary" style="width: 100%" @click="register">Register</el-button>
                    </el-form-item>
                </el-form>
            </el-card>
        </el-col>
    </el-row>
</template>
<script>
import axios from 'axios'

export default {
    data() {
        var validatePass2 = (rule, value, callback) => {
            if (value === '') {
                callback(new Error('Please enter password again'));
            } else if (value !== this.form.password) {
                callback(new Error('Password is not the same'));
            } else {
                callback();
            }
        };
        return {
            form:{
                name: '',
                email: '',
                password: '',
                password_confirmation: '',
            },

            rules: {
                name: [
                    { required: true, message: 'Please enter your name', trigger: 'blur' },
                ],
                email: [
                    { required: true, message: 'Please enter your email', trigger: 'blur' },
                    { type: 'email', message: 'Please enter email address', trigger: 'blur,change' }
                ],
                password: [
                    { required: true, message: 'Please enter your password', trigger: 'blur' },
                ],
                password_confirmation: [
                    { validator: validatePass2, trigger: 'blur' },
                    { required: true, message: 'Please enter your password again', trigger: 'blur' }
                ]
            }
        }
    },

    methods: {
        async register () {
            try {
                // validate the form
                await this.$refs['registerForm'].validate()

                const { data } = await axios.post('/api/register', this.form)

                // Log in the user.
                const { data: { token } } = await axios.post('/api/login', this.form)
                // Save the token.
                this.$store.dispatch('auth/saveToken', { token })
                // Update the user.
                await this.$store.dispatch('auth/updateUser', { user: data })
                // Redirect orders page.
                this.$router.push({ name: 'order' })

            } catch (e) {

            }
        }
    }
}
</script>