<template>
<el-row :gutter="20">
    <el-col :span="10" :offset="7">
        <el-form :rules="rules" :model="brand" ref="brandForm">
            <el-form-item label="Brand Name" prop="name">
                <el-input v-model="brand.name" placeholder="Brand Name"></el-input>
            </el-form-item>
            <el-form-item label="Description" prop="description">
                <el-input v-model="brand.description" placeholder="Description"></el-input>
            </el-form-item>
            <el-form-item label="Sort Order" prop="sort">
                <el-input type="number" v-model.number="brand.sort" placeholder="Sort Order"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" :loading="loading" @click="submitBrand">Create</el-button>
            </el-form-item>
        </el-form>
    </el-col>
</el-row>
</template>
<script>
export default {
    data () {
        return {
            brand: {},
            loading: false,
            rules: {
                name: [
                    { required: true, message: 'Please enter name', trigger: 'blur' },
                ],
                description: [
                    { required: true, message: 'Please enter description', trigger: 'blur' },
                ],
                sort: [
                    { required: true, message: 'Please enter sort order', trigger: 'blur' },
                    { type: 'number', message: 'Sort order must be number' }
                ],
            }
        }
    },

    methods: {
        async submitBrand () {
            this.loading = true
            try {
                await this.$refs['brandForm'].validate()

                const { data } = await axios.post('/api/brand', this.brand)
                this.$router.push({ name: 'other.brand'})
                //this.$router.push({ name: 'other.brand.detail', params: { id: data.brandID }})

            } catch (e) {
                //console.log(e)
                this.$alert(e.message)
            }

            this.loading = false
        }
    }
}
</script>