<template>
<div>
    <router-link :to="{ name: 'other.brand.create' }" >
        <el-button type="primary">New Brand</el-button>
    </router-link>
    <hr />
    <el-table :data="brands" border stripe>
        <el-table-column label="ID" prop="id" sortable></el-table-column>
        <el-table-column label="Name" prop="name" sortable ></el-table-column>
        <el-table-column label="Description" prop="description" sortable></el-table-column>
    </el-table>
</div>
</template>
<script>
export default {
    data () {
        return {
            brands:[],
        }
    },

    created () {
        this.fetchBrands()
    },

    methods: {
        async fetchBrands () {
            const { data } = await axios.get('/api/brand')
            this.brands = data.data
        },
    }
}
</script>