<template>
<div>
    <router-link :to="{ name: 'other.courier.create' }" >
        <el-button type="primary">New Courier</el-button>
    </router-link>
    <hr />
    <el-table :data="couriers" border stripe>
        <el-table-column label="ID" prop="id" sortable width="60"></el-table-column>
        <el-table-column label="Name" prop="name" sortable ></el-table-column>
        <el-table-column label="Website" prop="website" sortable min-width="150"></el-table-column>
        <el-table-column label="URL" prop="url" sortable min-width="250"></el-table-column>
    </el-table>
</div>
</template>
<script>
export default {
    data () {
        return {
            couriers:[],
        }
    },

    created () {
        this.fetchCouriers()
    },

    methods: {
        async fetchCouriers () {
            const { data } = await axios.get('/api/courier')
            this.couriers = data.data
        },
    }
}
</script>