<template>
<el-row :gutter="20">
    <el-col :span="10" :offset="7">
        <el-form :rules="rules" :model="courier" ref="courierForm">
            <el-form-item label="Courier Name" prop="name">
                <el-input v-model="courier.name" placeholder="Courier Name"></el-input>
            </el-form-item>
            <el-form-item label="Website" prop="website">
                <el-input v-model="courier.website" placeholder="Website"></el-input>
            </el-form-item>
            <el-form-item label="Tracking URL" prop="url">
                <el-input v-model="courier.url" placeholder="Tracking URL"></el-input>
            </el-form-item>
            <el-form-item label="Sort Order" prop="sort">
                <el-input type="number" v-model.number="courier.sort" placeholder="Sort Order"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" :loading="loading" @click="submitCourier">Create</el-button>
            </el-form-item>
        </el-form>
    </el-col>
</el-row>
</template>
<script>
export default {
    data () {
        return {
            courier: {},
            loading: false,
            rules: {
                name: [
                    { required: true, message: 'Please enter name', trigger: 'blur' },
                ],
                website: [
                    { required: true, message: 'Website cannot be empty', trigger: 'blur' },
                ],
                url: [
                    { required: true, message: 'URL cannot be empty', trigger: 'blur' },
                ],
                sort: [
                    { required: true, message: 'Please enter sort order', trigger: 'blur' },
                    { type: 'number', message: 'Sort order must be number' }
                ],
            }
        }
    },

    methods: {
        async submitCourier () {
            this.loading = true
            try {
                await this.$refs['courierForm'].validate()

                const { data } = await axios.post('/api/courier', this.courier)
                this.$router.push({ name: 'other.courier'})

            } catch (e) {
                //console.log(e)
                this.$alert(e.message)
            }

            this.loading = false
        }
    }
}
</script>