<template>
<div>
    <el-table :data="customers" border stripe>
        <el-table-column label="Name" prop="name" sortable width="100"></el-table-column>
        <el-table-column label="身份证" prop="identity" sortable></el-table-column>
        <el-table-column label="Phone" prop="phone" sortable></el-table-column>
        <el-table-column label="Address" prop="address" sortable min-width="200"></el-table-column>
    </el-table>
    <el-pagination layout="total, prev, pager, next" ref="pagination" :page-size="meta.per_page"
                   @current-change="fetchCustomers" :total="meta.total" >
    </el-pagination>
</div>
</template>
<script>
export default {
    data () {
        return {
            customers:[],
            meta: { per_page: 80 },
        }
    },

    created () {
        this.fetchCustomers()
    },

    methods: {
        async fetchCustomers ( page = 1 ) {
            const { data } = await axios.get('/api/customer?page=' + page)
            this.customers = data.data
            this.meta = data.meta
        },
    }
}
</script>