<template>
<el-row :gutter="20">
    <el-col :span="10" :offset="7">
        <el-form :rules="rules" :model="retailer" ref="retailerForm">
            <el-form-item label="Retailer Name" prop="name">
                <el-input v-model="retailer.name" placeholder="Retailer Name"></el-input>
            </el-form-item>
            <el-form-item label="Sort Order" prop="sort">
                <el-input type="number" v-model.number="retailer.sort" placeholder="Sort Order"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" :loading="loading" @click="submitRetailer">Create</el-button>
            </el-form-item>
        </el-form>
    </el-col>
</el-row>
</template>
<script>
export default {
    data () {
        return {
            retailer: {},
            loading: false,
            rules: {
                name: [
                    { required: true, message: 'Please enter name', trigger: 'blur' },
                ],
                sort: [
                    { required: true, message: 'Please enter sort order', trigger: 'blur' },
                    { type: 'number', message: 'Sort order must be number' }
                ],
            }
        }
    },

    methods: {
        async submitRetailer () {
            this.loading = true
            try {
                await this.$refs['retailerForm'].validate()

                const { data } = await axios.post('/api/retailer', this.retailer)
                this.$router.push({ name: 'other.retailer'})
                //this.$router.push({ name: 'other.retailer.detail', params: { id: data.retailerID }})

            } catch (e) {
                //console.log(e)
                this.$alert(e.message)
            }

            this.loading = false
        }
    }
}
</script>