<template>
<div>
    <router-link :to="{ name: 'other.retailer.create' }" >
        <el-button type="primary">New Retailer</el-button>
    </router-link>
    <hr />
    <el-table :data="retailers" border stripe>
        <el-table-column label="ID" prop="id" sortable></el-table-column>
        <el-table-column label="Name" prop="name" sortable ></el-table-column>
    </el-table>
</div>
</template>
<script>
export default {
    data () {
        return {
            retailers:[],
        }
    },

    created () {
        this.fetchRetailers()
    },

    methods: {
        async fetchRetailers () {
            const { data } = await axios.get('/api/retailer')
            this.retailers = data.data
        },
    }
}
</script>