
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

body {
  font-family: $font-family;
}

a:link {
  text-decoration: none;
}

a:link, a:visited {
  color: #007bff;
}

.el-menu .el-menu-item {
  padding: 0;
}

.el-menu-item > a {
  padding: 0 20px;
  display: block;
}
.el-menu > .el-menu-item a {
  color: #909399;
}
.el-menu > .is-active a {
  color: #007bff;
}

.el-form-item__label {
  font-weight: 600;
}

.el-form-item__content {
  color: #606266;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

// Bootstrap
// @import "~bootstrap-sass/assets/stylesheets/bootstrap";
