<template>
    <div id="app">

        <el-container class="container">
            <el-header><site-header /></el-header>
            <el-main><router-view /></el-main>

        </el-container>
    </div>
</template>
<script>
    import siteHeader from './components/site-header.vue';

    export default {
        name: 'app',
        components: {
            siteHeader
        }
    };
</script>
<style>
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }
</style>